$site-footer-background: #474747 !default;
$site-footer-text-color: contrast-color($site-footer-background, #222, #fff, 50%) !default;
$site-footer-border-color: contrast-color($site-footer-background, darken($site-footer-background,15%), lighten($site-footer-background,15%), 50%) !default;
$site-footer-anchor-color: contrast-color($site-footer-background, #222, #fff, 50%) !default;
$site-footer-anchor-color-hover: contrast-color($site-footer-background, #222, #fff, 50%) !default;

$site-footer-info-background: map-get($foundation-palette, primary);
$site-footer-info-text-color: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;
$site-footer-info-anchor-color: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;
$site-footer-info-anchor-color-hover: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;

.site-footer{
	background-color: $site-footer-background;
	color: $site-footer-text-color;
	padding: 0;

	a{
		color: $site-footer-anchor-color;

		&:hover{
			color: $site-footer-anchor-color-hover;
		}
	}
}

.footer-widget-area {
	overflow: hidden;
	padding: 2.25rem 4.6rem 0;

	&.columns-1 {
		.footer-widget {
			@media #{$large-up} {
				width: 100%;
			}
		}
	}

	&.columns-2 {
		.footer-widget {
			@media #{$large-up} {
				width: 50%;
			}
		}
	}

	&.columns-3 {
		.footer-widget {
			@media #{$large-up} {
				width: 33.3333333333%;
			}
		}
	}

	&.columns-4 {
		.footer-widget {
			@media #{$large-up} {
				width: 25%;
			}
		}
	}

	.footer-widget {
		padding: 0;
		position: relative;

		.widget{
			color: $site-footer-text-color;
			padding: 0;
			box-sizing: border-box;
		}

		@media #{$large-up} {
			padding-right: 115px;
			float: left;
		}

		&:first-child {
			@media #{$large-up} {
				padding-left: 0;
			}
		}

		&:last-child {
			@media #{$large-up} {
				margin-right: 0;
				padding-right: 0;
			}
		}

		.widget-title {
			color: $site-footer-anchor-color;
			background: transparent;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 22px;
			position: absolute;
			left: -30px;
			transform: rotate(-90deg);
			transform-origin: left top 0;
			width: 1000px;
			text-align: right;
			top: 1000px;
		}

		.widget {
			margin-bottom: 2.25em;
			margin-bottom: 2.25rem;

			li, a {
				border-color: $site-footer-border-color;
			}
		}

		.widget_calendar #calendar_wrap {
			padding-right: 0;
		}
	}
}

.site-info-wrapper{
	padding: 4.6rem;
	background: $site-footer-info-background;
	color: $site-footer-info-text-color;
	line-height: 1.5;

	a{
		color: $site-footer-info-anchor-color;

		&:hover{
			color: $site-footer-info-anchor-color-hover;
		}
	}

	.site-info-text{
		float: left;
		width: 50%;
		margin-top: 5px;
		color: #535353;
		a[rel="designer"] {
			color: #535353;
		}
	}
	
	.menu {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			display: inline;
			a {
				text-transform: uppercase;
			}
		}
	}

	.site-info{
		overflow: hidden;

		.social-menu {

			ul{
				margin-right: 0;
			}

			a{
				&:before {
					font-size: 36px;
				}
			}
		}

	}

	.site-info-inner{
		@extend .large-12;
		@extend .columns;
		padding: 0;
	}
}
