$site-footer-background: #414242 !default;
$site-footer-text-color: contrast-color($site-footer-background, #222, #fff, 50%) !default;
$site-footer-border-color: contrast-color($site-footer-background, darken($site-footer-background,15%), lighten($site-footer-background,15%), 50%) !default;
$site-footer-anchor-color: contrast-color($site-footer-background, #222, #fff, 50%) !default;
$site-footer-anchor-color-hover: contrast-color($site-footer-background, #222, #fff, 50%) !default;

$site-footer-info-background: map-get($foundation-palette, primary);
$site-footer-info-text-color: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;
$site-footer-info-anchor-color: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;
$site-footer-info-anchor-color-hover: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;

.site-footer{
	background-color: $site-footer-background;
	color: $site-footer-text-color;
	padding: 0;

	a{
		color: $site-footer-anchor-color;

		&:hover{
			color: $site-footer-anchor-color-hover;
		}
	}
}

.footer-widget-area {
	overflow: hidden;
	padding: 4.7rem 4.7rem;
	@media screen and (min-width: 2000px) {
		padding: 4.6rem 4.6rem 2.25rem;
		max-width: 66.6666666667%;
	}

	&.columns-1 {
		.footer-widget {
			@media #{$large-up} {
				width: 100%;
			}
		}
	}

	&.columns-2 {
		.footer-widget {
			@media #{$large-up} {
				width: 45%;
			}
		}
	}

	&.columns-3 {
		.footer-widget {
			@media #{$large-up} {
				width: 30%;
			}
		}
	}

	&.columns-4 {
		.footer-widget {
			@media #{$large-up} {
				width: 25%;
			}
		}
	}

	.footer-widget {
		padding: 0;
		position: relative;

		.widget{
			color: $site-footer-text-color;
			padding: 0 0 0 45px;
			box-sizing: border-box;
		}

		@media #{$large-up} {
			margin-right: 3%;
			float: left;
		}

		&:first-child {
			@media #{$large-up} {
				padding-left: 0;
			}
		}

		&:last-child {
			@media #{$large-up} {
				margin-right: 0;
				padding-right: 0;
			}
		}

		.widget-title {
			color: $site-footer-anchor-color;
			background: transparent;
			font-weight: 300;
			text-transform: uppercase;
			font-size: 22px;
			position: absolute;
			left: 0;
			transform: rotate(-90deg);
			transform-origin: left top 0;
			width: 1000px;
			text-align: right;
			top: 1000px;
			margin: 0;
		}

		.widget {
			margin-bottom: 2.25em;
			margin-bottom: 2.25rem;

			li, a {
				border-color: $site-footer-border-color;
			}
		}

		.widget_calendar #calendar_wrap {
			padding-right: 0;
		}
	}
}

.site-info-wrapper{
	padding: 1.5rem;
	background: $site-footer-info-background;
	color: $site-footer-info-text-color;
	line-height: 1.5;
	font-family: $primary-font-family;
	@media screen and (min-width: 769px) {
		padding: 4.6rem;
	}
	a{
		color: $site-footer-info-anchor-color;

		&:hover{
			color: $site-footer-info-anchor-color-hover;
		}
	}

	.site-info-text{
		color: rgba(255,255,255,.5);
		text-align: center;
		a[rel="designer"] {
			color: rgba(255,255,255,.5);
		}
		.menu {
			display: none;
		}
		@media screen and (min-width: 769px) {
			text-align: left;
			float: left;
			width: 50%;
			.menu {
				display: block;
			}
		}
	}
	
	.menu {
		padding: 0;
		margin: 0 0 10px 0;
		list-style: none;
		li {
			display: inline;
			padding-right: 30px;
			a {
				text-transform: uppercase;
			}
		}
	}

	.site-info{
		overflow: hidden;

		.social-menu {
			margin-top: 15px;
			@media screen and (min-width: 769px) {
				float: right;
				width: 50%;
				margin: 0;
			}
			ul{
				text-align: center;
				margin-right: 0;
				li:last-child a {
					margin-right: 0;
				}
				@media screen and (min-width: 769px) {
					text-align: right;
				}
			}
			
			li {
				padding: 0;
			}

			a{
				margin-right: 15px;
				&:before {
					font-size: 36px;
					padding: 0;
					width: 36px;
					height: 36px;
				}
			}
		}

	}

	.site-info-inner{
		@extend .large-12;
		@extend .columns;
		padding: 0;
	}
}
