$entry-title-bg: rgba(0,0,0,.6) !default;

@media screen and (min-width: 900px) {
	body {
		background: url(img/background.png) repeat-y;
	}
}

.site-header {
	height: 100%;
	max-height: 500px;
	@include clearfix;
	@media screen and (min-width: 900px) {
		max-height: 868px;
		min-height: 500px;
	}
	.site-title {
		background: map-get($foundation-palette, primary);
		float: left;
		padding: 75px 20px 0;
		margin: 0;
		height: 100%;
		position: relative;
		@media screen and (min-width: 900px) {
			background: map-get($foundation-palette, primary);
			float: left;
			padding: 75px 33px 0;
			margin: 0;
			height: 100%;
			position: relative;			
		}
		a {
			color: #fff;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 35px;
			display: block;
			white-space: nowrap;
			font-family: $primary-font-family;
			&.text svg {
				fill: #fff;
				width: 32px;
				height: 32px;
				display: inline-block;
			}
		}
	}
}

.featured-content{
	.entry-header{
		background-size: cover;

		&,
		.entry-title,
		.entry-title a{
			color: white;
		}

		.entry-header-row{
			@extend .row;
		}

		.entry-header-column{
			@extend .large-8;
			@extend .medium-12;
			@extend .small-12;
			@extend .columns;

			background-color: $entry-title-bg;
			color: contrast-color($entry-title-bg,#000,#fff,50%);
			margin-top: 6em;
			margin-top: 6rem;
			padding: 1.5em 4em 0;
			margin-bottom: 0;
			border-bottom: 0;

			@media screen and (max-width: 600px) {
				margin-top: 0;
				padding: 0em 1em;
				padding: 0rem 1rem;
			}
		}

		.entry-meta,
		.entry-title,
		.entry-excerpt{
			margin-bottom: 1.5rem;
		}

		.entry-meta{
			color: contrast-color($entry-title-bg,#000,#fff,50%);
			border-bottom: 1px solid rgba(255,255,255,.2);
			line-height: 3rem;

			.entry-date{
				float: right;
			}
		}

		.entry-title{
			font-size: rem-calc(42);
			line-height: 1.2;
			font-family: $primary-font-family;
			font-weight: bold;
		}

		.entry-excerpt {
			p{
				font-style: italic;
				font-size: emCalc(19);
				font-size: rem-calc(19);
				font-weight: 200;
			}
		}

		.post-format{
			color: $primary-color;
		}

		.read-more{
			padding: .5em 1em;
			padding: .5rem 1rem;
			background-color: $primary-color;
			color: contrast-color($primary-color,#fff,#000,50%);
			display: inline-block;
			font-family: $primary-font-family;
			text-transform: uppercase;
			font-weight: bold;
			font-size: emCalc(13);
			font-size: rem-calc(13);

			&:hover{
				background-color: darken($primary-color,10%);
			}
		}
	}
}

.hero-widget {
	color: #fff;
	padding: 80px 15px 40px 95px;
	position: relative;
	max-width: 75%;
	.widget {
		padding: 0;
	}
	h2.widget-title {
		color: #fff;
		font-size: 2em;
		font-weight: 300;
	}
	div.textwidget {
		font-family: $secondary-font-family;
		font-size: 14px;
		line-height: 20px;
	}
}

@media all and ( min-width: 600px ){
	.hero-widget {
		color: #fff;
		padding: 80px 15px 40px 140px;
		h2.widget-title {
			color: #fff;
			font-size: 3.5em;
			font-weight: 300;
		}
		div.textwidget {
			font-family: $secondary-font-family;
			font-size: 18px;
			line-height: 24px;
		}
	}
}

@media all and ( min-width: 1100px ){
	.secondary-masthead {
		margin-right: 100px;
	}
	.hero-widget {
		color: #fff;
		padding: 130px 15px 40px 140px;
		h2.widget-title {
			color: #fff;
			font-size: 6em;
			font-weight: 300;
		}
		div.textwidget {
			font-family: $secondary-font-family;
			font-size: 24px;
			line-height: 36px;
		}
	}
}