$menu-font-family: $header-font-family !default;
$menu-background-color: rgba(25,25,25,.8) !default;

.main-navigation-container {
	margin-top: 75px;
}

header .main-navigation-container .menu {
	position: relative;
	z-index: 100;
	@extend .row;

	ul {
		font-size: emCalc(15);
		font-size: rem-calc(15);
		position:relative;
		display: block;
		z-index:1;
		margin: 0;
		padding: 0;
	}

	a{
		color: contrast-color($menu-background-color, #000, #fff, 50%);
	}

	li {
		display:block;
		float:none;
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			display: block;
			font-family: $menu-font-family;
			line-height: 1.2;
			font-size: 24px;
			font-weight: 300;
			color: #fff;
			position: relative;
		}
	}

	.menu-item-has-children{
		li > a{
			padding-top: 1em;
			padding-top: 1rem;
			padding-bottom: 1em;
			padding-bottom: 1rem;

			&:hover{
				background-color: rgba(0,0,0,.05);
			}
		}
	}

	@media all and ( min-width: 480px ){

		li{
			text-align: left;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			display:block;

			ul {
				display:none;
				position:absolute;
			}
		}

		a{
			border-bottom-width: 0;
		}

		li {
			padding: 0;
			margin: 0 0 10px 0;
			list-style: none;
			position: relative;

			&.current-menu-item,
			&:hover {

				> a {
					color: contrast-color($menu-background-color,#000,#fff,50%);

					&:after {
						border-color: contrast-color($menu-background-color,#000,#fff,50%);
					}
				}

			}

			.sub-menu .menu-item-has-children {

				&:hover {

					> a:after {
						border-left-color: contrast-color($menu-background-color,#000,#fff,50%);
					}
				}

				> a:after {
					content:"";
					display:block;
					position:absolute;
					top:50%;
					right:.6em;
					right:.6rem;
					margin-top: -6px;
					border:5px solid transparent;
					border-left-color: contrast-color($menu-background-color,darken($menu-background-color,65%),lighten($menu-background-color,65%),50%);
					height:0;
					width:0;
					margin-left:10px;
				}
			}

			&.menu-item-has-children {

				&:hover {
					position:relative;

					> ul {
						display:block;
						background-color: $menu-background-color;
						width:250px;

						ul {
							left: 100%;
							top: 0;
						}

						li {
							float:none;
							display:block;
						}
					}
				}
			}
		}
	}
}

/* Small menu */
.menu-toggle {
    width: 66px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 3px;
   	display: none;

	div {
		background: #fff;
		height: 4px;
		margin: 6px;
		border-radius: 1px;
	}
}

.secondary-masthead {
	float: left;
	height: 100%;
	padding: 0 35px;
	width: 250px;
	position: relative;

	&.toggled {
		display: block;
	}
	.quote-section {
		position: absolute;
		bottom: 40px;
		padding-right: 30px;
		blockquote {
			color: #fff;
			border: 0;
			font-size: 16px;
			margin-bottom: 0;
			font-family: $secondary-font-family;
		}
		cite {
			color: #999999;
			font-style: normal;
			font-size: 13px;
			font-family: $primary-font-family;
			text-transform: uppercase;
		}
	}
	.social-menu {
		li {
			display: block;
			text-align: left;
			a {
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.secondary-masthead {
		position: absolute;
		left: 73px;
		display: none;
		height: 100%;
		padding: 0 35px;
		margin-right: 0;
		right: 0;
		z-index: 3;
		max-height: 600px;
		.quote-section {
			position: absolute;
			bottom: 40px;
			padding-right: 30px;
			blockquote {
				color: #fff;
				border: 0;
				font-size: 16px;
				margin-bottom: 0;
				font-family: $secondary-font-family;
			}
			cite {
				color: #999999;
				font-style: normal;
				font-size: 13px;
				font-family: $primary-font-family;
				text-transform: uppercase;
			}
		}
		.social-menu {
			li {
				display: block;
				text-align: left;
				a {
				}
			}
		}
	}
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation {

		ul {
			display: none;
			clear: both;
		}

		li {
			display: block;
			float: none;

			a {
				display: block;
				background: #222;
				text-align: left;
			}

			&.menu-item-has-children {

				&:hover {
					> a:after {
						border-top-color: transparent;
						border-left-color: contrast-color($menu-background-color,#000,#fff,50%);
					}
				}

				> a:after {
					content:"";
					display:block;
					position:absolute;
					top:50%;
					right:.6em;
					right:.6rem;
					margin-top: -6px;
					border:5px solid transparent;
					border-left-color: contrast-color($menu-background-color,darken($menu-background-color,65%),lighten($menu-background-color,65%),50%);
					height:0;
					width:0;
					margin-left:10px;
				}
			}
		}
	}
}

.navigation {
	@extend .row;

	.nav-links{
		@extend .large-12;
		@extend .columns;
		margin-bottom: 1em;
		margin-bottom: 1rem;
	}
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}