$menu-background-color: rgba(25,25,25,.95) !default;
$submenu-background-color: rgba(0,0,0,.3);

@media screen and (min-width: 783px){
	.main-navigation-container {
		margin: 35px -35px 0;
	}
}

header .main-navigation-container .menu {
	position: relative;
	z-index: 100;
	@extend .row;

	ul {
		font-size: emCalc(15);
		font-size: rem-calc(15);
		position:relative;
		display: block;
		z-index:1;
		margin: 0;
		padding: 0;
	}
	.sub-menu {
		display: block;
		li a {
			padding: 0;
			font-size: 18px;
		}
	}


	li {
		display:block;
		float:none;
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			display: block;
			font-family: $primary-font-family;
			line-height: 1.7;
			border-bottom: rgba(255,255,255,.4) 1px solid;
			font-size: 24px;
			font-weight: 300;
			color: #fff;
			position: relative;
		}
		&:last-child a {
			border-bottom: 0;
		}
	}

	.menu-item-has-children{
		li > a{
			padding: .5em 1em;
		}
	}

	li {
		text-align: left;
	}
	@media all and ( min-width: 480px ){

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			display:block;

			ul {
				display:none;
				position:absolute;
			}
		}

		a{
			border-bottom-width: 0;
		}

	}
	@media screen and (min-width: 783px){
		li {
			padding: 8px 35px 8px;
			margin: 0 0 0 0;
			list-style: none;
			position: relative;
			a {
				line-height: 1.3;
				border: none;
			}
			&.current-menu-item,
			&:hover {
				background-color: $submenu-background-color;
				> a {
					color: #fff;

					&:after {
						border-color: contrast-color($menu-background-color,#000,#fff,50%);
					}
				}

			}
			.sub-menu {
				display: none;
				li {
					padding: .18em 1em;
				}
			}
			.sub-menu .menu-item-has-children {
				&:hover {
					> a:after {
						border-left-color: contrast-color($menu-background-color,#000,#fff,50%);
					}
				}

				> a:after {
					content:"";
					display:block;
					position:absolute;
					top:50%;
					right:.6em;
					right:.6rem;
					margin-top: -6px;
					border:5px solid transparent;
					border-left-color: contrast-color($menu-background-color,darken($menu-background-color,65%),lighten($menu-background-color,65%),50%);
					height:0;
					width:0;
					margin-left:10px;
				}
			}

			&.menu-item-has-children {
			
				&:hover {
					position:relative;
					> ul {
						display:block;
						background-color: $submenu-background-color;
						position: absolute;
						right: -200px;
						top: 0;
						width: 200px;
						text-align: left;
						clear: both;
						@media screen and (max-width: 782px){

						}
						ul {
							left: 100%;
							top: 0;
						}

						li {
							float:none;
							display:block;
							padding: .5rem 1rem;
							margin: 0;
							a {
								font-size: 20px;
								padding: 12px 15px;
								&:hover {
									background: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

body {
	@media screen and (min-width: 783px){
		padding-left: 250px;
		&.admin-bar {
			.side-masthead {
				top: 32px;
			}
		}
	}	
}

/* Small menu */
.menu-toggle {
    width: 66px;
    padding: 10px 0 10px 10px;
    cursor: pointer;
    float: right;
   	display: block;
	@media screen and (min-width: 783px){
		display: none;
	}	
	div {
		background: #fff;
		height: 4px;
		margin: 6px;
		border-radius: 1px;
	}
}

.side-masthead {
	padding: 0 35px;
	position: fixed;
	width: 100%;
	@include clearfix;
	.mobile-container {
		display: none;
	}
	&.toggled {
		.mobile-container {
			display: block;
			clear: both;
		}
	}
	text-align: center;
	z-index: 9999;
	background-color: $menu-background-color;
	.site-logo {
		display: none;
	}
	.site-title {
		line-height: 53px;
	}
	.site-title, .site-description {
		float: left;
	}
	.site-description {
		line-height: 50px;
		padding: 0 20px;
		color: #ffffff;
		font-size: 14px;
		display: none;
		@media screen and (min-width: 600px){
			display: block;
		}
	}
	.site-title {
		font-size: 30px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 0;
		margin-top: 0;

		a{
			color: white;

			&:hover{
				color: white;
				opacity: .8;
			}
		}
	}
	@media screen and (min-width: 783px){
		display: block;
		left: 0;
		width: 250px;
		bottom: 0;
		top: 0;
		padding-top: 40px;
		.mobile-container {
			display: block;
		}
		.site-title {
			line-height: normal;
		}
		.site-description {
			padding: 0;
			line-height: normal;
		}
		.site-description, .site-title {
			float: none;
		}
		.site-logo{
			margin: 0 auto 20px;
			max-width: 140px;
			display: block;
		}
	}
	.social-menu {
		li {
			display: block;
			text-align: left;
		}
	}
}

.navigation {
	@extend .row;

	.nav-links{
		@extend .large-12;
		@extend .columns;
		margin-bottom: 1em;
		margin-bottom: 1rem;
	}
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}