$menu-bg-ie: rgb(25,25,25);
$submenu-bg-ie: rgb(128,128,128);
$menu-background-color: rgba(25,25,25,.95) !default;
$submenu-background-color: #121212;

@media #{$medium-up}{
	.main-navigation-container {
		margin: 35px -35px 0;
	}
}

@media #{$small-only} {

	#site-navigation {
		display: none;

			&.open {
				display: block;
			}
	}

	.social-menu {
		display: none;
	}

}

.main-navigation {
	position: relative;
	z-index: 100;
	margin-left: 0;
	border-top: 1px solid rgba(255,255,255,.1);

	&.open {
		display: block;
		margin-top: 0;

		@media #{$medium-up}{
			margin-top: 0;
		}
	}

	.expand{
		font-size: 1.8rem;
		color: white;
		position: absolute;
		right: 0;
		top: 0;
		padding: 14px 0;
		width: 50px;
		line-height: 1;
		text-align: center;
		border-bottom: none;
		border-left: 1px solid rgba(255,255,255,.1);
		text-indent: 0;

		&:hover{
			background-color: rgba(255,255,255,.05);
		}

		&:before{
			content: "+";
		}

		@media #{$medium-up}{
			display: none;
		}

	}

	.menu-item-has-children{
		position: relative;

		&.open > .expand:before{
			content: "-";
		}
	}

	.sub-menu {
		display: block;
		display: none;
	}

	ul {
		font-size: emCalc(15);
		font-size: rem-calc(15);
		position:relative;
		display: block;
		z-index:1;
		margin: 0;
		padding: 0;

		@media #{$small-only}{

			.open > .sub-menu{
				display: block;
			}
		}
	}

	li {
		display:block;
		float:none;
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			display: block;
			font-family: $primary-font-family;
			padding: 8px;
			line-height: 1.7;
			font-size: 24px;
			font-weight: 300;
			color: #999;
			position: relative;
			border-bottom: 1px solid rgba(255,255,255,.1);

			@media #{$medium-up}{
				padding: 8px 35px;
			}
		}
	}

	li {
		text-align: left;
	}

	li li a{
		padding: 11px;
		font-size: 20px;
	}

	@media #{$small-only} {

		li li{
			text-indent: 1rem;
		}

		li li li{
			text-indent: 1.5rem;
		}

	}

	@media #{$medium-up} {

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			display:block;

			ul {
				display:none;
				position:absolute;
			}
		}

		li {
			padding: 0;
			margin: 0;
			list-style: none;
			position: relative;

			a {
				line-height: 1.3;
			}

			&:hover {
				background-color: $anchor-color;
				color: white;

				> a{
					color: white;
				}
			}

			&.current-menu-item{
				background-color: rgba(255,255,255,.05);

				> a{
					color: white;

					&:hover{
						color: white;
						background-color: $anchor-color;
					}
				}
			}

			.sub-menu {
				display: none;
			}

			.sub-menu .menu-item-has-children {

				&:hover {
					> a:after {
						border-left-color: contrast-color($menu-background-color,#000,#fff,50%);
					}
				}

				> a:after {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					right: .6em;
					right: .6rem;
					margin-top: -6px;
					border: 5px solid transparent;
					border-left-color: contrast-color($menu-background-color,darken($menu-background-color,65%),lighten($menu-background-color,65%),50%);
					height: 0;
					width: 0;
					margin-left: 10px;
				}
			}

			&.menu-item-has-children {

				&:hover {
					position:relative;

					> ul {
						display:block;
						background-color: $submenu-bg-ie;
						background-color: $submenu-background-color;
						position: absolute;
						right: -200px;
						top: 0;
						width: 200px;
						text-align: left;
						clear: both;

						ul {
							left: 100%;
							top: 0;
						}

						li {
							float: none;
							display: block;
							margin: 0;

							a {

								&:hover {
									background: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

body {

	@media #{$medium-up}{
		margin-top: 0;
		padding-left: 250px;
		position: relative;
	}
}

/* Small menu */
.menu-toggle {
	//width: 70px;
	//padding: 15px 15px 10px 10px;
	//cursor: pointer;
	//float: right;
	//display: block;

	width: 3.6rem;
	padding: 0.3rem;
	cursor: pointer;
	display: none;
	position: absolute;
	top: 4px;
	right: 0;
	display: block;
	z-index: 99999;

	@media #{$medium-up}{
		display: none;
	}

	div {
		background: #fff;
		margin: 0.43rem .86rem 0.43rem 0;
		transform: rotate(0deg);
		transition: .15s ease-in-out;
		transform-origin: left center;
		height: 0.32rem;
	}

	&.open {
		div {
			&:nth-child(1) {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				width: 0%;
				opacity: 0;
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}
}

.side-masthead {
	@include clearfix;
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 9999;
	background-color: $menu-bg-ie;
	background-color: $menu-background-color;

	@media #{$medium-up}{
		position: absolute;
		left: 0;
		padding: 0 35px;
	}

	.mobile-container {
		display: none;
	}

	&.toggled .mobile-container {
		display: block;
		clear: both;
	}

	.site-logo {
		display: none;
	}

	.site-title-wrapper {
		@media #{$small-only}{
			width: 80%;

			.custom-logo-link {
				display: none;
			}
		}
	}

	.site-title {
		line-height: 53px;
		font-size: 30px;
		font-weight: 300;
		text-transform: uppercase;
		margin: 5px 0 5px 10px;
		text-align: left;

		@media #{$medium-up}{
			margin: 0;
			text-align: center;
		}

		a{
			color: #999;

			&:hover{
				color: #999;
				opacity: .8;
			}
		}

		.site-description {
			float: left;
		}
	}

	.site-description {
		display: none;
	}


	@media #{$medium-up}{
		display: block;
		width: 250px;
		height: 100%;
		padding-top: 40px;

		.mobile-container {
			display: block;
		}

		.site-title {
			line-height: normal;
		}

		.site-description {
			padding: 0;
			line-height: normal;
		}

		.site-description, .site-title {
			float: none;
		}

		.site-logo{
			margin: 0 auto 20px;
			max-width: 140px;
			display: block;
		}
	}

	.social-menu {
		li {
			display: block;
			text-align: left;
		}
	}
}

.navigation {
	@extend .row;

	.nav-links{
		@include panel;
		margin-bottom: 1em;
		margin-bottom: 1rem;
	}
	div.nav-links{
		padding-top: 0;
		padding-bottom: 0;
	}
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
