.site-info .social-menu {
	@extend .clearfix;

	a{
		@extend .genericon;
		@extend .genericon-link;
		font-size: 0;
		text-indent: -9999em;
		border: 0;
		width: 32px;
		height: 32px;
		transition: 200ms opacity;
		color: #fff;

		&:before{
			-webkit-font-smoothing: subpixel-antialiased;
			padding: 7px;
			display: inline-block;
			font-size: 18px;
		}
	}
}

.social-menu {

	a[href*="wordpress.org"]:before,
	a[href*="wordpress.com"]:before {
		content: '\f205';
	}
	a[href*="facebook.com"]:before {
		content: '\f203';
	}
	a[href*="twitter.com"]:before {
		content: '\f202';
	}
	a[href*="dribbble.com"]:before {
		content: '\f201';
	}
	a[href*="plus.google.com"]:before {
		content: '\f206';
	}
	a[href*="pinterest.com"]:before {
		content: '\f210';
	}
	a[href*="github.com"]:before {
		content: '\f200';
	}
	a[href*="tumblr.com"]:before {
		content: '\f214';
	}
	a[href*="youtube.com"]:before {
		content: '\f213';
	}
	a[href*="flickr.com"]:before {
		content: '\f211';
	}
	a[href*="vimeo.com"]:before {
		content: '\f212';
	}
	a[href*="instagram.com"]:before {
		content: '\f215';
	}
	a[href*="codepen.io"]:before {
		content: '\f216';
	}
	a[href*="linkedin.com"]:before {
		content: '\f208';
	}

	ul {
		list-style: none;
		text-align: center;
		margin: 0 1.25em 0 0;
		margin: 0 1.25rem 0 0;
		font-size: 0;
		text-align: right;

		li {
			display:  inline-block;
			position: relative;
			padding: 0;
			margin: 3px;
			a:hover {
				background: none !important;
				opacity: .8;
			}
		}
	}
}

.side-masthead .social-menu {
	@extend .clearfix;
	margin-top: 20px;
	margin-bottom: 20px;
	li {
		margin: 0;
		padding-bottom: 7px;
	}
	a{
		color: #999;
		text-transform: uppercase;
		font-family: $primary-font-family;
		font-size: 12px;
		line-height: 15px;
		&:before{
			@extend .genericon;
			margin-right: 7px;
		}
	}
}
